# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/
.idea/
*.iml

# Android
android/.gradle/
android/.cxx/
android/app/.cxx/
android/app/build/
android/build/
android/local.properties
android/key.properties
**/android/**/GeneratedPluginRegistrant.*

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Pods/
**/ios/**/GeneratedPluginRegistrant.*

# Misc
.DS_Store
*.log
